<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAEjCITKSB3sMUKPsoVm5LnsCJJDM-yMcE</string>
	<key>GCM_SENDER_ID</key>
	<string>140299233623</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.driver.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>olivette-multi-vendor</string>
	<key>STORAGE_BUCKET</key>
	<string>olivette-multi-vendor.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:140299233623:ios:5f9d11443788cf4bbe3612</string>
	<key>DATABASE_URL</key>
	<string>https://olivette-multi-vendor-default-rtdb.firebaseio.com</string>
</dict>
</plist>